---
import { Image } from "astro:assets";
import flor from "../assets/flor.png";
import confetti from "../assets/confetti.gif";
import Countdown from "../components/Countdown.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main
    class="h-screen flex flex-col justify-center items-center relative w-full"
  >
    <Image src={flor} alt="flor rosa" class="size-60" />
    <h1
      class="text-primary tracking-wider text-8xl mb-8 text-center z-20 font-bold"
    >
      Mis XV Milena
    </h1>
    <span class="font-medium text-xl z-20">¡TE INVITO A MIS XV!</span>

    <div class="my-8 flex justify-center items-center z-20">
      <a href="#ven" id="boton">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          viewBox="0 0 24 24"
          class="size-24 text-primary animate-arrow-down"
        >
          <!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
          <path d="m12 15.41 5.71-5.7-1.42-1.42-4.29 4.3-4.29-4.3-1.42 1.42z"
          ></path>
        </svg>
      </a>
    </div>
  </main>
  <section
    id="section"
    class="flex justify-center items-center bg-primary text-white px-6 py-8"
  >
    <p class="text-center">
      <span class="font-medium">Queridos familiares y amigos</span>
      <br />
      <br />
      Con mucha alegría te invito a celebrar mis XV
    </p>
  </section>
  <section class="flex flex-col justify-center items-center mt-16">
    <span class="text-xl tracking-wider text-primary font-medium">
      AGENDA LA FECHA
    </span>

    <h2 class="text-4xl mt-4 bar font-medium">24 de Octubre</h2>
    <Countdown />

    <a
      href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=XV+de+Milena&dates=20261024T210000/20261025T030000&details=¡Te+esperamos!&location=Salón+de+Eventos"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center text-primary border border-primary px-6 py-4 rounded-4xl text-lg font-medium hover:text-white hover:bg-primary transition-colors"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
        <path
          d="M19 4h-2V2h-2v2H9V2H7v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2M5 20V8h14V6v14z"
        ></path>
      </svg><span class="ml-2">AGENDAR FECHA</span>
    </a>
  </section>
  <section class="flex flex-col justify-center items-center mt-16 mb-8">
    <span class="text-xl tracking-wider text-primary font-medium"
      >NOS ENCONTRAMOS</span
    >
    <h2 class="text-4xl mt-4 bar font-medium">Lugar & Horario</h2>
    <div class="mt-8">
      <Image src={confetti} alt="" class="size-20" />
    </div>
    <div class="mt-4">
      <span class="text-2xl font-medium">Lugar tanto</span>
    </div>
    <div class="flex justify-center items-center gap-4 mt-8">
      <div class="flex flex-col justify-center items-center">
        <span class="text-2xl font-semibold">24</span>
        <span class="text-gray-600 text-lg">OCTUBRE</span>
      </div>
      <span class="h-16 w-0.5 bg-gray-300"></span>
      <div>
        <span class="font-semibold text-base">9:00pm hasta 4:00am</span>
      </div>
    </div>
    <div class="mt-12">
      <span class="text-lg">Ubicación del lugar</span>
    </div>
    <div class="mt-12">
      <a
        href=""
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center border border-white hover:border-primary text-white bg-primary px-20 py-4 rounded-4xl text-lg font-medium hover:text-primary hover:bg-white transition-colors"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
          <path
            d="M16 10c0-2.21-1.79-4-4-4s-4 1.79-4 4 1.79 4 4 4 4-1.79 4-4m-6 0c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2"
          ></path><path
            d="M11.42 21.81c.17.12.38.19.58.19s.41-.06.58-.19c.3-.22 7.45-5.37 7.42-11.82 0-4.41-3.59-8-8-8s-8 3.59-8 8c-.03 6.44 7.12 11.6 7.42 11.82M12 4c3.31 0 6 2.69 6 6 .02 4.44-4.39 8.43-6 9.74-1.61-1.31-6.02-5.29-6-9.74 0-3.31 2.69-6 6-6"
          ></path>
        </svg><span class="ml-2">COMO LLEGAR</span>
      </a>
    </div>
  </section>

  <script>
    document.getElementById("boton")?.addEventListener("click", (e) => {
      e.preventDefault();

      document.getElementById("section")?.scrollIntoView({
        behavior: "smooth",
      });
    });
  </script>

  <style>
    .bar {
      position: relative;
    }

    .bar::after {
      content: "";
      position: absolute;
      bottom: -0.6rem;
      left: 50%;
      transform: translate(-50%, 0%);
      width: 50%;
      height: 0.2rem;
      border-radius: 0.2rem;
      background-color: var(--color-primary);
    }
  </style>
</Layout>
